
/* You can add global styles to this file, and also import other style files */

$gridlines: gainsboro; // grid lines
$gridcellsize: 1em; // grid cell size
$linethickness: 1px; // line thickness

// computed value, don't change
$o: .5*$linethickness;

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
body{
    background: 
		/* horizontal and vertical lines */
		conic-gradient(from 90deg at $linethickness $linethickness, 
				#0000 25%, $gridlines 0%) 
			#{-1*$o -1*$o}/ #{$gridcellsize $gridcellsize}, 
		/* main diagonal */
		linear-gradient(45deg, 
				#0000 calc(50% + -1*#{$o}), 
				$gridlines 0 calc(50% + #{$o}), #0000 0) 0 0/ #{2*$gridcellsize 2*$gridcellsize}, 
		/* secondary diagonal */
		linear-gradient(-45deg, 
				#0000 calc(50% + -1*#{$o}), 
				$gridlines 0 calc(50% + #{$o}), #0000 0) 0 0/ #{2*$gridcellsize 2*$gridcellsize};
    
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color: #fff;
}

ul{
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;    
}

ul li{
    display:inline;
    margin-right: 30px;
}

ul li {
    display: inline;
    margin-right: 30px;
}

ul li a {
    font-size: 1.5em;
}
a{
    color: #9e4f7d;
    text-decoration: none;
    font-weight: bold;
}

p {
    color: #9e4f7d;

    &.white {
        color: white;
    }
}
